<h2>Recuperar contraseña</h2>

<form action="" id="forgotPasswordForm">
    <label for="">Ingresa tu correo electronico</label>
    <input type="email" name="email">
    <label for="">Ingresa tu nuevo password</label>
    <input type="password" name="password">

    <button type="submit">Enviar</button>
</form>

<script src="/js/forgotPassword.js"></script>