<!-- Header -->
<header>
    <nav>
        <div class="welcomeImage">
            <img class="firstImage" src="https://i.imgur.com/4p6uHIS.png" alt="">
        </div>
        <div class="divNavbar">
            <ul class="ulNavbar">
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/home">
                        <b>INICIO</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products">
                        <b>Mangas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products?category=Pre%20venta">
                        <b>Pre-ventas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Poleras y polerones</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Figuras coleccionables</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Tiendas</b>
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" href="cart/63f7f777e0ca673798416a4e">
                        <img class="iconsNavbar" class="imgNavbar" src="https://i.imgur.com/vVIc2Li.png" alt="">
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" id="anchorUser" href="/">
                        <img class="iconsNavbar" src="https://i.imgur.com/GD5HkfC.png" alt="">
                        <h2 class="renderedRol"></h2>
                    </a>
                </li>
                <li class="liNavbar" id="logout">
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Notificación -->
<section>
    <div class="informationDiv">
        <img class="informationImage" src="https://i.imgur.com/nV6UTea.jpg" alt="">
        <div class="absoluteDiv">
            <h2 class="comunication">
                COMUNICADO
            </h2>
            <p class="comunicationParagraph">
                DEBIDO A LOS PROBLEMAS QUE SE ESTÁN PRESENTANDO ACTUALMENTE EN LA ADUANA, ALGUNOS LANZAMIENTOS Y PEDIDOS PENDIENTES PODRÍAN CONTAR CON LEVES RETRASOS. ANTE CUALQUIER NOVEDAD, ESTAREMOS PUBLICANDO LOS AVANCES DE ESTE TEMA EN NUESTRAS REDES SOCIALES OFICIALES.
            </p>
            <button class="comunicationButton"><a class="comunicationAnchor" href="/products"><b>IR A LA TIENDA</b></a></button>
        </div>
    </div>
</section>

<!-- Noticias -->
<section>
    <div class="noticiasBox">
        <div class="contenedorNoticias">
            <div class="noticias">
                <img class="imagenNoticia1" src="https://i.imgur.com/87RecDI.png" alt="">
            </div>
            <div class="noticias">
                <img class="imagenNoticia2" src="https://i.imgur.com/n5lHxJZ.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Botón que redirige al chat -->
<section>
    <div class="iconChatContainer">
        <a href="/api/chat"><img class="iconChat" src="https://i.imgur.com/nr0312M.png" alt=""></a>
        <span class="tooltip">¿Te ayudo?</span>
    </div>
</section>

<footer>
    <div class="iconsFooterGroup">
        <div class="iconsListContainer">
            <ul class="ulFooter">
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/CZHVTEg.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/mrb29b5.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="logoFooter" src="https://i.imgur.com/SOkKtmX.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/YqcLS5Q.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/znYxgT8.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketServer.js"></script>