<!-- Header -->
<header>
    <nav>
        <div class="welcomeImage">
            <img class="firstImage" src="https://i.imgur.com/4p6uHIS.png" alt="">
        </div>
        <div class="divNavbar">
            <ul class="ulNavbar">
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/home">
                        <b>INICIO</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products">
                        <b>Mangas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products?category=Pre%20venta">
                        <b>Pre-ventas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Poleras y polerones</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Figuras coleccionables</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Tiendas</b>
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" href="cart/63f7f777e0ca673798416a4e">
                        <img class="iconsNavbar" class="imgNavbar" src="https://i.imgur.com/vVIc2Li.png" alt="">
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" id="anchorUser" href="/">
                        <img class="iconsNavbar" src="https://i.imgur.com/GD5HkfC.png" alt="">
                        <h2 class="renderedRol"></h2>
                    </a>
                </li>
                <li class="liNavbar" id="logout">
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Redireccionador al chat -->
<section>
    <div class="iconChatContainer">
        <a href="/api/chat"><img class="iconChat" src="https://i.imgur.com/nr0312M.png" alt=""></a>
        <span class="tooltip">¿Te ayudo?</span>
    </div>
</section>

<!-- Login Box -->
<section>
    <div class="loginContainer">
        <form class="loginContent" id="loginForm">
            <div class="imageChatContainer">
                <img class="imageChat" src="https://i.imgur.com/TTkylmw.png" alt="">
            </div>
            <div class="loginBox">
                <div class="inputsContainer">
                    <label class="instructions">Ingresa correo electronico</label>
                    <input type="text" class="loginInput" id="name" name="email" placeholder="paquitaladelbarrio@teleseries.cl">
                </div>
                <div class="inputsContainer">
                    <label class="instructions">Ingresa tu password</label>
                    <input type="password" class="loginInput" id="email" name="password" placeholder="••••••••">
                </div>
                <!-- <button class="sendEmail" id="getCookies">Obtener cookies</button> -->
                <button type="submit" class="sendEmail" id="setCookie">Entrar</button>
                <div class="options">
                    <a href="/home">Continuar sin ingresar</a>
                    <a href="/signup">Resgístrate</a>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="iconsFooterGroup">
        <div class="iconsListContainer">
            <ul class="ulFooter">
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/CZHVTEg.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/mrb29b5.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="logoFooter" src="https://i.imgur.com/SOkKtmX.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/YqcLS5Q.png" alt=""></a></li>
                <li class="liFooter"><a href=""><img class="iconsFooter" src="https://i.imgur.com/znYxgT8.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>

<script type="module" src="/js/login.js"></script>