<!-- Header -->
<header>
    <nav>
        <div class="welcomeImage">
            <img class="firstImage" src="https://i.imgur.com/4p6uHIS.png" alt="">
        </div>
        <div class="divNavbar">
            <ul class="ulNavbar">
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/home">
                        <b>INICIO</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products">
                        <b>Mangas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products?category=Pre%20venta">
                        <b>Pre-ventas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Poleras y polerones</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Figuras coleccionables</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                        <b>Tiendas</b>
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" href="cart/63f7f777e0ca673798416a4e">
                        <img class="iconsNavbar" class="imgNavbar" src="https://i.imgur.com/vVIc2Li.png" alt="">
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" id="anchorUser" href="/">
                        <img class="iconsNavbar" src="https://i.imgur.com/GD5HkfC.png" alt="">
                        <h2 class="renderedRol"></h2>
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" href="">
                        <b>Cerrar sesion</b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Chat-icon -->
<section>
    <div class="iconChatContainer">
        <a href="/api/chat"><img class="iconChat" src="https://i.imgur.com/nr0312M.png" alt=""></a>
        <span class="tooltip">¿Te ayudo?</span>
    </div>
</section>

<!-- Profile -->
<section>
    <div class="profileContainer">
        <div class="profileDetails">
            <div class="userName">
                <h2 class="welcomeToProfileMessage">Konnichiwa, {{user.first_name}}!</h2>
                <img class="avatar" src="https://i.imgur.com/4dYQAth.png" alt="">
            </div>
            <div class="profileSections" id="firstSectionProfile">
                <h4>Informacion personal</h4>
                <h6 class="firstItem">Datos de usuario</h6>
                <h6>Datos de envío</h6>
            </div>
            <div class="profileSections">
                <h4>Mis compras</h4>
                <h6 class="firstItem">Pedidos en curso</h6>
                <h6>Pedidos finalizados</h6>
            </div>
            <div class="profileSections">
                <a href="/auth/logout"><h5>Cerrar sesion</h5></a>
            </div>
        </div>
        <div class="profileConfiguration">
            <!-- Aquí se podrán modificar los datos de perfil y ver el historial y progreso de pedidos -->
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
  <div class="iconsFooterGroup">
    <div class="iconsListContainer">
      <ul class="ulFooter">
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/CZHVTEg.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/mrb29b5.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="logoFooter"
              src="https://i.imgur.com/SOkKtmX.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/YqcLS5Q.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/znYxgT8.png"
              alt=""
            /></a></li>
      </ul>
    </div>
  </div>
</footer>