<!-- Header -->
<header>
    <nav>
        <div class="welcomeImage">
            <img class="firstImage" src="https://i.imgur.com/4p6uHIS.png" alt="">
        </div>
        <div class="divNavbar">
            <ul class="ulNavbar">
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/home">
                      <b>INICIO</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products">
                      <b>Mangas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="/products?category=Pre%20venta">
                      <b>Pre-ventas</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                      <b>Poleras y polerones</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                      <b>Figuras coleccionables</b>
                    </a>
                </li>
                <li class="liNavbar hover">
                    <a class="anchorNavbar" href="">
                      <b>Tiendas</b>
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" href="cart/63f7f777e0ca673798416a4e">
                      <img class="iconsNavbar" class="imgNavbar" src="https://i.imgur.com/vVIc2Li.png" alt="">
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" id="anchorUser" href="/">
                      <img class="iconsNavbar" src="https://i.imgur.com/GD5HkfC.png" alt="">
                      <h2 class="renderedRol"></h2>
                    </a>
                </li>
                <li class="liNavbar">
                    <a class="anchorNavbar" href="">
                      <b>Cerrar sesion</b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Chat-icon -->
<section>
  <div class="iconChatContainer">
    <a href="/api/chat"><img
        class="iconChat"
        src="https://i.imgur.com/nr0312M.png"
        alt=""
      /></a>
    <span class="tooltip">¿Te ayudo?</span>
  </div>
</section>

<!-- Singup -->
<section>
  <div class="signupPage">
    <div class="signupImages">
      <img class="signupImage" src="https://i.imgur.com/GTKbUdY.png" alt="" />
    </div>
    <div class="signupContainer">
      <form action="" id="signupForm">
        <h2>Regístrate</h2>

        <div class="labels">
          <label for="">Nombre</label>
          <input type="text" name="first_name" />
        </div>

        <div class="labels">
          <label for="">Apellido</label>
          <input type="text" name="last_name" />
        </div>

        <div class="labels">
          <label for="">Fecha de nacimiento</label>
          <input type="date" name="age" />
        </div>

        <div class="labels">
          <label for="">Correo</label>
          <input type="email" name="email" />
        </div>

        <div class="labels">
          <label for="">Password</label>
          <input type="password" name="password" />
        </div>

        <button type="submit" class="buttonSignup">Crear usuario</button>
      </form>
    </div>
    <div class="signupImages">
      <img class="signupImage" src="https://i.imgur.com/q5qGWM9.png" alt="" />
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="iconsFooterGroup">
    <div class="iconsListContainer">
      <ul class="ulFooter">
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/CZHVTEg.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/mrb29b5.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="logoFooter"
              src="https://i.imgur.com/SOkKtmX.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/YqcLS5Q.png"
              alt=""
            /></a></li>
        <li class="liFooter"><a href=""><img
              class="iconsFooter"
              src="https://i.imgur.com/znYxgT8.png"
              alt=""
            /></a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="/js/signup.js"></script>