@font-face{
    font-family: "manga";
    src: url(/fonts/Manga.otf);
    font-family: 'bebas-neue';
    src: url(/fonts/Bebas-Regular.otf)
}

*{
    margin: 0;
    padding: 0;
}

/* Icono de chat */

.iconChatContainer{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}

.iconChatContainer:hover .tooltip {
    visibility: visible;
}

.tooltip{
    visibility: hidden;
    background-color: #2a2f34;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: -60px;
    width: 60px;
}

.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2a2f34 transparent;
}

.iconChat{
    width: 100%;
    height: 100%;
}

.noticiasBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contenedorNoticias{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticias{
    width: 45%;
    margin: 0 10px;
}

.imagenNoticia1{
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imagenNoticia2{
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.welcomeImage{
    width: 100%;
}

.firstImage{
    width: 100%;
}

.divNavbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.ulNavbar{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.liNavbar{
    margin: 0.5% 2%;
    font-size: 17px;
    font-family: "bebas-neue", sans-serif;
    border-bottom: 3px solid transparent;
}

#anchorUser{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
}

.renderedRol{
    margin-left: 8px;
    font-size: 17px;
    font-family: "bebas-neue", sans-serif;
    border-bottom: 3px solid transparent;
    /* display: none */
}

.hover:hover{
    border-bottom: 3px solid #8d0000;
    padding-bottom: 3px;
}

.anchorNavbar{
    text-decoration: none;
}

.anchorNavbar:visited{
    color: #2a2f34 ;
}

.anchorNavbar:active{
    border-bottom: 2px solid #8d0000;
    padding-bottom: 3px;
}

.iconsNavbar{
    width: 20px;
}

/* Sección informativa */

.informationDiv{
    width: 100%;
    height: auto;
    position: relative;
}

.informationImage{
    width: 100%;
    height: 100vh;
}

.absoluteDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.comunication{
    font-family: 'manga', sans-serif;
    font-size: 52px;
    color: white;
    margin-bottom: 10px;
}

.comunicationParagraph{
    font-family: 'bebas-neue', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0 30%;
    margin-bottom: 10px;
}

.comunicationButton{
    padding: 12px;
    border-radius: 25px;
    background-color: #8d0000;
}

.comunicationAnchor{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: 'bebas-neue', sans-serif;
}

/* Sección destacados */

.featuredProducts{
    width: 100%;
}

.featuredMangas{
    font-family: 'manga', sans-serif;
    font-size: 42px;
    text-align: center;
    color: #2a2f34;
    margin: 35px;
}

.cardsContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productCards{
    width: 20%;
    margin-bottom: 25px;
    border: solid 7.5px #2a2f34;
    margin: 20px 10px;
    position: relative;
}

.productCards::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #2a2f34, rgba(0, 0, 0, 0));
}

.textCardsContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: left;
    margin-bottom: 10px;
    padding: 5px;
}

.productImage{
    height: auto;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: -1;
}

.productCards:hover{
    transform: scale(1.1);
}

.cardsTexts{
    font-family: 'bebas-neue', sans-serif;
    color: white;
}

/* Footer */

.iconsFooterGroup{
    margin-top: 18px;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.imgur.com/5PoENuC.png');
}

.iconsListContainer{
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.ulFooter{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.liFooter{
    margin: 0 10px;
}

.iconsFooter{
    width: 50px;
}

.logoFooter{
    width: 175px;
}

/* Cards */

.cardTitle{
    font-size: 30px;
    font-family: 'manga', sans-serif;
}

.cardVolume{
    font-size: 16px
}

.cardEditorial{
    font-size: 12px
}

.cardAuthor{
    font-size: 10px
}

.cardPrice{
    font-size: 16px
}

.cardStock{
    font-size: 10px;
}

.addButton{
    padding: 2px;
    width: 40%;
    border-radius: 25px;
    background-color: #8d0000;
    margin-top: 10px;
}

.seeMoreAnchor{
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-family: 'bebas-neue', sans-serif;
}


/* --------------------- */

.chat{
    width: 100%;
    height: calc(100vh - 46.5px);
    background: #FFFFFF;
}

.joinScreen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageChatContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#narutoImageContainer{
    width: 125px;
    height: 125px;
    margin-bottom: 15px;
}

.imageChat{
    width: 100%;
    height: 100%;
}

#formEmail{
    width: 50%;
    height: 60%;
    background-image: url('https://i.imgur.com/5PoENuC.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-radius: 7px !important;
}

.emailText{
    font-family: 'bebas-neue', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}

#userEmail{
    width: 60%;
    background: none;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    height: 1.5em;
    margin-top: 2em;
}

#userEmail::placeholder{
    color: #FFFFFF
}

#sendEmail{
    width: 60%;
    height: 2em;
    background-color: #2a2f34;
    font-weight: bold;
    color: rgb(250, 249, 244);
    border-radius: 5px;
    border: none;
    margin-top: 2em;
}

.buttonThirdParties{
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-family: 'bebas-neue', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttonThirdParties a{
    text-decoration: none;
    color: #FFFFFF;
}

.buttonThirdParties img{
    width: 20px;
    height: 20px;
}

#githubButton{
    background-color: #2DBA4E;
}

#googleButton{
    background-color: #1D57E7;
}

.validate{
    display: none;
    height: 1px;
    width: 60%;
    font-size: 14px;
}

.chatScreen{
    display: none;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 100%;
    background-image: url('https://i.imgur.com/5PoENuC.png');
}

.chatBox{
    width: 80%;
    height: 85%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 2em;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#formMessage{
    display: flex;
    flex-direction: row;
    width: 83.3%;
    height: 5%;
}

.formMessage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1em;
    padding-left: 0;
}

#userMessage{
    width: 90%;
    padding: .5em;
    resize: none;
    margin-right: 1em;
}

#sendMessage{
    width: 10%;
    background-color: #2a2f34;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}

.message{
    padding: .5em;
    border-radius: 5px;
}

.message p{
    margin: 0;
}

.own{
    background-color: #8d0000;
    color: #FFFFFF;
    align-self:flex-end ;
    margin-top: 5px;
}
.other{
    background-color: #8d0000;
    color: #FFFFFF;
    align-self:flex-start ;
    margin-top: 5px;
}

/* Pagination */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination li{
    margin: 0 15px;
    font-family: 'bebas-neue', sans-serif;
    font-size: 20px;
    color: #8d0000;
}

.pagination li a{
    text-decoration: none;
    color: #8d0000
}

.pagination li a:visited{
    color: #8d0000;
}

#paginationNumber{
    color: #2a2f34;
}

/* Cart */

.cartContainer{
    width: 100%;
    height: calc(100vh - 278.5px);
    display: flex;
    justify-content: center;
    align-items: top;
}

.subCartContainer{
    width: 80%;
    margin-top: 35px;
}

.detailsCartContainer{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.cartDetails{
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
}

.itemCart{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #2a2f34;
}

.imgCart{
    width: 12%;
    height: 100%;
    overflow: hidden;
}

.imgCart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imgCart img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.textDetails{
    width: 80%;
    display: flex;
    gap: 100px;
    align-items: center;
}

.cartResume{
    width: 20%;
    height: 50%;
    background-image: url('https://i.imgur.com/hOQXM9u.jpg');
    background-size: cover;
}

td{
    width: 15%
}

#tdImage{
    width: 10%
}

.title{
    font-family: 'bebas-neue', sans-serif;
    font-size: 1.7em;
    color: #8d0000;
    width: 30%;
}

.volume{
    font-family: 'bebas-neue', sans-serif;
    font-size: 1.3em;
    color: #2a2f34;
}

.generalDetails{
    font-family: 'bebas-neue', sans-serif;
    margin-top: 2px;
    color: #2a2f34;
}

.purchaseDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center ;
    height: 100%;
}

.resumeContainer{
    margin-top: 20px;
    width: 100%;
    height: 80%;
}

.titleDetail{
    font-family: 'bebas-neue', sans-serif;
    font-size: 1.5em;
    color: #8d0000;
    padding: 0 0 0 20px;
    margin-right: 0;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.specifications{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.finishPurchaseButton{
    margin-bottom: 20px;
    color: #2a2f34;
    padding: 10px;
    border-radius: 10px;
    background-color: #8d0000;
    width: 100%;
}

.trashIcon{
    width: 30%;
    height: 30%;
}

.loginContainer{
    width: 100%;
    height: calc(100vh - 544px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 10px;
    align-items: center;
}

.loginContent{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBox{
    width: 100%;
    height: 70%;
    background-image: url('https://i.imgur.com/hOQXM9u.jpg');
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputsContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions{
    font-family: 'bebas-neue', sans-serif;
    font-size: 1.2em;
    color: #8d0000;
}

.loginInput{
    text-align: center;
    width: 70%;
    background: none;
    border: none;
    border-bottom: 2px solid #8d0000;
    height: 1.5em;
    margin-top: 0.5em;
}

.loginInput::placeholder{
    color: #2a2f34;
    text-align: center;
}

#setCookie{
    width: 35%;
    height: 30px;
    background-color: #2a2f34;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: 'bebas-neue', sans-serif;
    font-size: 17px;
}

.resetPassword{
    text-decoration: none;
    color: #8d0000;
    font-family: 'bebas-neue', sans-serif;
    font-size: 17px;
}

.options{
    display: flex;
    gap: 600px;
}

.options a{
    text-decoration: none;
    font-family: 'bebas-neue', sans-serif;
    color: #2a2f34;
}

/* ---- Profile ---- */

.profileContainer{
    width: 100%;
    height: calc(100vh - 278.5px);
    display: flex;
}

.profileDetails{
    width: 20%;
    height: 100%;
    background-image: url('https://i.imgur.com/CeKYC5B.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.userName{
    margin-top: 15px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.welcomeToProfileMessage{
    font-family: 'bebas-neue', sans-serif;
    color: #FFFFFF;
    margin-left: 15px;
}

.avatar{
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

#firstSectionProfile{
    margin-top: 30px;
}

.profileSections{
    margin-left: 15px;
    margin-top: 20px;
}

.profileSections h4{
    font-family: 'bebas-neue', sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
    border-bottom: solid #8d0000 2px;
}

.profileSections h5{
    font-family: 'bebas-neue', sans-serif;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align: right;
    margin: 35px 20px 0 0;
}

.profileSections h6{
    margin-left: 30px;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'bebas-neue', sans-serif;
}

.profileSections a{
    text-decoration: none;
}

.firstItem{
    margin-top: 15px;
}

.profileConfiguration{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ---- Signup ---- */

.signupPage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signupImages{
    width: 33.3%;
}

.signupImage{
    width: 100%;
    height: auto;
}

.signupContainer{
    width: 60%;
    height: calc(100vh - 258px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signupForm{
    background-image: url('https://i.imgur.com/hOQXM9u.jpg');
    background-size: cover;
    width: 60%;
    height: 80%;
    border: solid #8d0000 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signupForm h2{
    font-family: 'manga', sans-serif;
    font-size: 3.5em;
}

.labels{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels label{
    font-size: 1.2em;
    font-family: 'bebas-neue', sans-serif;
}

.labels input{
    width: 60%;
    height: 20px;
    text-align: center;
}

.buttonSignup{
    margin-top: 20px;
    width: 60%;
    height: 30px;
    background-color: #8d0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'bebas-neue', sans-serif;
    font-size: 1.1em;
}

